<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Interval Only</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <strong>
                    Checked {{ numberChecks }} time{{ numberChecks !== 1 ? 's':
                    '' }}
                </strong>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Push Only</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <strong>
                    Last number pushed: {{ number$ | async }}
                </strong>
                <h6>Simulate event being pushed</h6>
                <ion-input
                    type="number"
                    [formControl]="nextNumber"
                    placeholder="Next Number"
                ></ion-input>
                <ion-button
                    color="primary"
                    (click)="pushNumber(id1, nextNumber)"
                >
                    Push Number
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Interval And Push</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <strong>
                    Last number pushed: {{ number2$ | async }}
                </strong>
                <h6>Simulate event being pushed</h6>
                <ion-input
                    type="number"
                    [formControl]="nextNumber2"
                    placeholder="Next Number"
                ></ion-input>
                <ion-button
                    color="primary"
                    (click)="pushNumber(id2, nextNumber2)"
                >
                    Push Number
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
